<%- include('../../partials/header.ejs') %> 

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <section class="mb-5">
                    <a href="?filter=latest" class="btn <%= filter === 'latest' ? 'btn-primary' : 'btn-secondary' %> ">Latest</a>
                    <a href="?filter=week" class="btn <%= filter === 'week' ? 'btn-primary' : 'btn-secondary' %> ">Week</a>
                    <a href="?filter=month" class="btn <%= filter === 'month' ? 'btn-primary' : 'btn-secondary' %> ">Month</a>
                    <a href="?filter=all" class="btn <%= filter === 'all' ? 'btn-primary' : 'btn-secondary' %> ">All</a>
                </section>
                <section>
                    <p>There is No Posts</p>
                </section>
            </div>
        </div>
    </div>
<%- include('../../partials/footer.ejs') %> 